body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  /* Font styling */
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
}

.hidden {
  display: none;
}

#mapbox { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 100%; 
}